name: ${APP_NAME:-course-workload-estimator}

services:

  app:
    build:
      context: .
      target: builder
      platforms:
        - linux/amd64
        - linux/arm64

    command: npm run start

    environment:
      - DEBUG=true
      - CI=false
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - NODE_ENV=development

    volumes:
      - ./src:/app/src
      - ./public:/app/public

    ports:
      - "3000:3000"
